<html>
	<head>
		<meta charset="utf-8">
		<title>Admin Tool Login</title>
	</head>
	<div class="pagewrapper">
	<body>
		<div class="loggedIn">
			<p class="loggedinMain">Logged in as: <?=$_SESSION['name']?></p>
		</div>
		<div class="navspacing">
			<nav class="navMain"> 
				<a href="index.php?flag=homeView"> Back</a> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
			</nav>
		</div>
		<h2>Welcome!</h2>
		<p>Please login using your admin key in order to access the Admin Tool.</p>
		<div class="login">
			<form action="index.php" method="post">	
				<label for="adminKey">
				</label>
				<div class="loginId">
				<input type="password" name="adminkey" placeholder="Admin Key" id="adminkey" autocomplete="off" required>
				</div>
				<div class="loginId">
				<input type="submit" value="Login">
				<input type="hidden" name="flag" value="adminLogin"> <br><br>
				</div>
			</form>
		</div>
	</div>
	</body>
	<div class="footerDiv">
		<footer>
			<ul>
				<li><a href="index.php?flag=aboutUs"> About Us </a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				<li><a href="index.php?flag=contactSupport"> Contact Support </a></li>
			</ul>
		</footer>
	</div>
</html>