<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
	</head>
	<div class="pagewrapper">
	<body>
		<div class="loggedIn">
			<p class="loggedinMain">Currently not logged in.</p>
		</div>
		<div class="navspacing">
			<nav class="navMain"> 
				<a href="index.php?"> Back</a> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</nav>
		</div>
		<h2>Forgot Password?</h2>
		<p>Please Enter the email associated with your account and a new password to continue.</p>
		<div class="reset">
            <form action="index.php" method="get">		
                Email: <input type="text" name="email"> <br><br>
                Password: <input type="text" name="password"> <br><br>
                </div>
                <input type="hidden" name="flag" value="reset">
                <input type="submit" value="Reset Password"> <br><br>
		</div>
	</div>
	</body>
	<div class="footerDiv">
		<footer>
			<ul>
				<li><a href="index.php?flag=aboutUs"> About Us </a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				<li><a href="index.php?flag=contactSupport"> Contact Support </a></li>
			</ul>
		</footer>
	</div>
</html>